@using Platform.Application.Products
<div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" checked="@Value" @onchange="OnChanged" />
</div>
@code {
 [Parameter, EditorRequired] public ProductFieldDefinitionDto Field { get; set; } = default!;
 [Parameter] public bool Value { get; set; }
 [Parameter] public EventCallback<bool> ValueChanged { get; set; }
 private Task OnChanged(ChangeEventArgs e) => ValueChanged.InvokeAsync(e.Value is bool b && b);
}
